.Footer__container{
    width: 100%;
    height: 100px;
    margin-top: 30px;   
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.Footer__container-text{
    margin-right: 30px;
}

.Footer__container-link{
    color: #353535;
}

.Footer__container-link:hover{
    color: #00ACC1;
}